@media (min-width: 1740px) {
	.head, .company {
		position: relative;
		z-index: 2;
	}
}

@media (max-width: 1600px) {
	.school:after{
		opacity: .15;
	}	
}

@media (max-width: 1200px) {
	.company {
		position: static;
	}
	.company__moto {
		margin: 0 0 160px 0;
		font-size: 10vh;
		line-height: 20vw;
	}

	footer .container {
		position: static;
	}

	.contacts {
		padding: 70px 120px;
	}
	.contacts__social {
		padding-left: 10px;
	}
}

@media (max-width: 992px) {

	.head {
		transform: none;
		justify-content: center;
	}

	#menu__toggle {
		display: block;
		position: fixed;
		opacity: 0;
	}
	.menu__btn {
	  display: flex; /* используем flex для центрирования содержимого */
	  align-items: center;  /* центрируем содержимое кнопки */
	  position: fixed;
	  top: 20px;
	  left: 20px;
	  width: 26px;
	  height: 26px;
	  cursor: pointer;
	  z-index: 3;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #616161;
	  transition-duration: .2s;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}

	/* контейнер меню */
	.nav__list {
	  z-index: 2;
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  left: -100%;
  	  width: 300px;
	  height: 100%;
	  margin: 0;
	  padding: 80px 0;
	  list-style: none;
	  text-align: center;
	  background-color: #ECEFF1;
	  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	  transition-duration: .2s;

	}
	/* элементы меню */
	.nav__item {
	  display: block;
	}
	.nav__link {
		color: inherit;
		display: block;
		padding: 12px 24px;
		font-size: 20px;
	}

	.logo:after, .nav__link:after {
		display: none;
	}
	.menu__item:hover {
	  background-color: #CFD8DC;
	}

	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .nav__list {
	  visibility: visible;
	  left: 0;
	}

	.company {
		margin-bottom: 5vh;
	}

	.company__name {
		font-size: 5vw;
		line-height: 5vw;
	}

	.company__moto {
		font-size: 15vw;
		line-height: 15vw;
	}

	.header__offer {

	}

	.offer__items {
		display: block;
	}

	.photos {
		display: block;
	}

	.photos__item{
		max-height: 80vh;
	}

	.crew__members {
		display: block;
	}

	.crew__member {

	}
}


@media (max-width: 768px) {

	h2 {
		font-size: 40px;
	}

	.header__offer-text {
		margin-bottom: 30px;
	}
	.header__offer {
		max-width: 100%;
	}

	.header__offer-btn {
		width: 100%;
		padding: 5px 10px;
	}

	.school__counts {
		flex-direction: column;
	}

	.school__number {
		margin-bottom: 20px;
	}

	.school__count {
		margin: 0 0 20px 0;
	}
}


@media (max-width: 576px) {

	.school {
		padding: 75px 0;
	}



	.contacts {
		padding: 70px 10px;
	}

}